@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;




.homepage {

    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }


    &-title {
        padding: 1rem;
        font-size: 36px;
        color: $Primary-Green;
    }
}

.claimbutton {

    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
}